.footer {
    background-color: #f9f9f9;
    padding: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    
  }
  
  .footer-social {
    margin-bottom: 15px;
  }
  
  .social-icon {
    margin: 0 10px;
    font-size: 20px;
    color: #555;
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: #000;
  }
  
  .footer-country {

    margin-bottom: 15px;
  }
  
  .country-label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .country-select {
    padding: 5px;
    font-size: 14px;
  }
  
  .footer-links p {
    margin: 10px 0;
  }
  
  .footer-policy-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .footer-policy-links li {
    display: inline;
  }
  
  .footer-policy-links a {
    text-decoration: none;
    color: #555;
  }
  
  .footer-policy-links a:hover {
    text-decoration: underline;
    color: #000;
  }

  .EXlogo {
    width: 30px;
  }
  .about-container2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ให้ container มีความสูงเต็มหน้าจอ */
  }
  
  .about-card2 {
    flex: 1; /* ดันให้ Footer อยู่ล่างสุด */
  }
  
  .footer {
    margin-top: auto; /* ทำให้ Footer อยู่ด้านล่าง */
  }
  
  