.container4 {
    display: flex;
    gap: 20px;
    padding: 100px;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
  }
  
  .image-section4 {
    flex: 1;
  display: flex; /* เปิดใช้งาน Flexbox */
  justify-content: center; /* จัดรูปภาพตรงกลางในแนวนอน */
  align-items: center; /* จัดรูปภาพตรงกลางในแนวตั้ง */
  margin-top: 100px;
  }
  
  .main-image4 {
    max-width: 100%;
    max-height: 400px; /* จำกัดขนาดความสูงของรูป */
    object-fit: contain; /* ทำให้รูปภาพอยู่ในขอบเขตโดยไม่บิดเบือน */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.856);
  }
  
  .details-section4 {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .product-title4 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .product-price4 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .product-description4 {
    font-size: 1rem;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .read-more {
    display: inline-block; /* ทำให้ข้อความมีตำแหน่งคงที่ */
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 1vh;
    text-decoration: underline; /* เพิ่มเส้นใต้ */
    transition: color 0.3s ease, transform 0.3s ease; /* เพิ่มการเปลี่ยนแปลงนุ่มนวล */
    text-shadow: 1px 1px 2px rgba(109, 58, 58, 0.8); /* เพิ่มเงา */
  }
  .read-more:hover {
    color: #109dd4; /* เปลี่ยนสีเมื่อเมาส์ชี้ */
    transform: scale(1.0); /* เพิ่มขนาดเล็กน้อย */
  }
  .read-more:hover:before,
.read-more:hover:after {
    content: ''; /* ป้องกันปัญหาการเคลื่อนที่ */
}
  .expanded-text {
    font-size: 1rem;
    color: #ffffff;
  }
  .size-options4 {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .size-options4 button {
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #ffffff;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .quantity-section4 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
  }

  .button1{
    transition: transform 0.6s; 
  }

  .button1:hover{
    background-color: black;
    color: white;
    transform: scale(1.0);
  }

  .quantity-section4 button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    cursor: pointer;
    margin: 10px;
    color: red;
  }
  
  .quantity-section4 input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
  }
  
  .actions-section4 {
    display: flex;
    gap: 10px;
  }
  
  .actions-section4 .add-to-cart4 {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .actions-section4 .buy-now4 {
    padding: 10px 20px;
    background-color: #8b0404;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .button {
    color: rgb(0, 0, 0); /* สีข้อความ */
    border-radius: 10px; /* ทำให้ขอบมน */
    width: 50px;
  }
  